<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">

<dom-module id="manejador-app">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <emisor-app id="emisor"></emisor-app>
        <receptor-app id="receptor"></receptor-app>

    </template>

    <script>
        /**
         * `manejador-app` Manejador de eventos para comunicacion de dos componentes polymer
         *
         * @summary manejador de eventos app, para comunicar dos componentes polymer.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class ManejadorApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'manejador-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {

                };
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
                this.$.emisor.addEventListener('emitido', e => {
                    this.enviarDatosAHijo(e)
                });
            }
            enviarDatosAHijo(e) {
                console.log("Soy tu padre :" + e.detail.origen);
                this.$.receptor.procesarDatos(e.detail);
            }


        }

        window.customElements.define(ManejadorApp.is, ManejadorApp);
    </script>r