<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento-app">
    <template>
        <link rel='stylesheet prefetch' href='/styles/bootstrap.min.css' />
        <link rel='stylesheet prefetch' href='/styles/forms.css' />
        <style>
            :host {
                display: block
            }

            :host([hidden]),
            [hidden] {
                display: none!important;
            }

            .wrapper form.submission-attemped input:invalid {
                background-color: #f9b2b2;
                outline: none;
            }
        </style>
        <iron-ajax id="irajxAltaMovimiento" method="POST" content-type="application/json" url$={{strURLIronAjax}} body='{"fecha" : "{{valFecha}}", "descripcion" : "{{valDescripcion}}", "importe" : {{valImporte}} }'
            handle-as="json" on-response="mostrarResulAltaMovimiento" on-error="ajaxErrorHandler">
        </iron-ajax>
        <button class="btn btn-primary" on-click="regresarNavegacion">Regresar</button>
        <div class="wrapper">
            <form class="form-signin" id="agregarMovimientoForm">
                <h2 class="form-signin-heading">Alta Movimiento</h2>
                <div>
                    <p id="MensajeUsuario"></p>
                </div>
                <input type="datetime-local" placeholder="Fecha" required class="form-control" value={{valFecha::input}}>
                <input type="text" placeholder="Descripcion" required class="form-control" value={{valDescripcion::input}}>
                <input type="number" placeholder="1.0" required class="form-control" value={{valImporte::input}} step="0.01">
                <input type="button" class="btn btn-lg btn-primary btn-block" value="Alta" on-click="altaMovimientoEnBase">
            </form>
        </div>
    </template>

    <script>
        /**
         * `alta-movimiento-app` Alta del movimiento para un usaurio en concreto
         *
         * @summary Alta de un movimiento para un usuario concreto.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class AltaMovimientoApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'alta-movimiento-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    usuario: {
                        type: String
                    },
                    cuenta: {
                        type: String
                    },
                    valFecha: {
                        type: String
                    },
                    valDescripcion: {
                        type: String
                    },
                    valImporte: {
                        type: Number
                    },
                    strURLIronAjax: {
                        type: String,
                        computed: 'computeUrlIronAjax(usuario,cuenta)'
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }
            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
                Polymer.RenderStatus.afterNextRender(this, function () {
                });
            }
            iniciaAltaMovimiento(strUsuario, strCuenta) {
                this.usuario = strUsuario;
                this.cuenta = strCuenta;
            }
            computeUrlIronAjax(strUsuario, strCuenta) {
                return "http://api-apipractitionerrgm.193b.starter-ca-central-1.openshiftapps.com/v3/usuarios/" + strUsuario + "/cuentas/" + strCuenta + "/movimientos";
            }
            altaMovimientoEnBase() {
                this.$.agregarMovimientoForm.classList.add("submission-attemped");
                if (this.valFecha != undefined && this.valFecha != "" &&
                    this.valDescripcion != undefined && this.valDescripcion != "" &&
                    this.valImporte != undefined && this.valImporte != "") {
                    this.$.MensajeUsuario.innerHTML = "";
                    this.$.agregarMovimientoForm.classList.remove("submission-attemped");
                    this.$.irajxAltaMovimiento.generateRequest();
                }
                else {
                    this.$.MensajeUsuario.innerHTML = "Informe Campos Obligatorios"
                }
            }
            mostrarResulAltaMovimiento(data) {
                console.log("estatusRespuesta:" + data.detail.status);
                if (data.detail.status == 204) {
                    this.valFecha = "";
                    this.valDescripcion = "";
                    this.valImporte = "";
                    this.$.MensajeUsuario.innerHTML = "Movimiento Dado de Alta.";
                }
                else {
                    this.$.MensajeUsuario.innerHTML = "Ocurrió un error al intentar dar de alta el movimiento.";
                }
            }
            ajaxErrorHandler(event) {
                var ironRequest = event.detail.request;
                var relatedXhr = ironRequest.xhr;
                var respError = relatedXhr.response;
                this.$.MensajeUsuario.innerHTML = respError.descerror;
                //console.log(event.detail.request.xhr.response);
            }
            regresarNavegacion(e) {
                //TODO Limpiar datos de los inputs
                console.log("RegresarNavegacion: " + AltaMovimientoApp.is);
                this.dispatchEvent(new CustomEvent('regresarNavegacion', {
                    detail: {
                        usuario: this.usuario,
                        cuenta: this.cuenta,
                        from: AltaMovimientoApp.is
                    }
                }));
            }
        }
        window.customElements.define(AltaMovimientoApp.is, AltaMovimientoApp);
    </script>
</dom-module>