<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="movimientos-app">
    <template>
        <link rel='stylesheet prefetch' href='/styles/bootstrap.min.css' />
        <link rel='stylesheet prefetch' href='/styles/forms.css' />
        <link rel='stylesheet prefetch' href='/styles/tables.css' />
        <style>
            :host {
                display: block
            }

            :host([hidden]),
            [hidden] {
                display: none!important;
            }
        </style>
        <iron-ajax id="obtenerMovimientos" handle-as="json" on-response="mostrarMovimientos">
        </iron-ajax>
        <div>
            <p>
                <button class="btn btn-primary" on-click="altaMovimiento">Alta Movimiento</button>
                <button class="btn btn-primary" on-click="regresarNavegacion">Regresar</button>
            </p>
        </div>
        <div class="wrapper" hidden$="{{noTengoCuentas}}">
            <div class="info-display">
                <div class="limiter">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="table">
                                <div class="row header">
                                    <div class="cell">Identificador Movmiento</div>
                                    <div class="cell">Fecha</div>
                                    <div class="cell">Importe</div>
                                    <div class="cell">Descripcion</div>
                                    <div class="cell">Voz</div>
                                </div>
                                <template is="dom-repeat" items="{{movimientos}}" as="mov">
                                    <div class="row">
                                        <div class="cell" data-title="Id Movimiento">{{mov.idmov}}</div>
                                        <div class="cell" data-title="Fecha">{{mov.fecha}}</div>
                                        <div class="cell" data-title="Importe">{{mov.importe}}</div>
                                        <div class="cell" data-title="Descripcion">{{mov.descripcion}}</div>
                                        <div class="cell" data-title="Leer Descripcion">
                                            <button class="btn btn-link btn-xs" on-click="leerDescMovimiento">Leer Descripcion</button>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="https://responsivevoice.org">ResponsiveVoice-NonCommercial</a> licensed under
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img title="ResponsiveVoice Text To Speech" src="https://responsivevoice.org/wp-content/uploads/2014/08/95x15.png" alt="95x15"
                    width="95" height="15" />
        </div>
    </template>

    <script>
        /**
         * `movimientos-app` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class MovimientosApp extends Polymer.Element {
            static get is() {
                return 'movimientos-app';
            }
            static get properties() {
                return {
                    movimientos: {
                        type: Array
                    },
                    usuario: {
                        type: String
                    },
                    cuenta: {
                        type: String
                    },
                    noTengoMovimientos: {
                        type: Boolean,
                        value: true
                    },
                    ciudadSelecionada: {
                        type: String
                    },
                    strURLIronAjax: {
                        type: String,
                        computed: 'computeUrlIronAjax(usuario, cuenta)'
                    }
                };
            }
            computeUrlIronAjax(strUsuario, strCuenta) {
                return "http://api-apipractitionerrgm.193b.starter-ca-central-1.openshiftapps.com" + "/v3/usuarios/" + strUsuario + "/cuentas/" + strCuenta + "/movimientos";
            }

            invocarPeticion(strUsuario, strCuenta) {
                //TODO Generar request de consulta de movimiento
                console.log("Usuario(" + strUsuario + ") strCuenta(" + strCuenta + ")");
                this.usuario = strUsuario;
                this.cuenta = strCuenta;
                this.$.obtenerMovimientos.url = this.strURLIronAjax;
                this.$.obtenerMovimientos.generateRequest();
            }
            mostrarMovimientos(data) {
                console.log(data.detail.response);
                this.movimientos = data.detail.response.movimientos;
                this.noTengoMovimientos = false;
            }
            altaMovimiento(e) {
                this.dispatchEvent(new CustomEvent('altaMovimientos', {
                    detail: {
                        usuario: this.usuario,
                        cuenta: this.cuenta
                    }
                }));
            }
            regresarNavegacion(e) {
                this.dispatchEvent(new CustomEvent('regresarNavegacion', {
                    detail: {
                        usuario: this.usuario,
                        cuenta: this.cuenta,
                        from: MovimientosApp.is
                    }
                }));
            }
            StartCallback() {
                console.log("inicia Lectura");
            }
            EndCallback() {
                console.log("Finaliza Lectura");
            }
            leerDescMovimiento(e) {
                console.log("MostrarModel" + JSON.stringify(e.model.mov.descripcion));
                console.log("Soportado: " + responsiveVoice.voiceSupport());
                responsiveVoice.speak(e.model.mov.descripcion, "Spanish Latin American Female", { pitch: 0, rate: 1.2, volume: 0.8, onstart: this.StartCallback, onend: this.EndCallback });
            }
        }
        window.customElements.define(MovimientosApp.is, MovimientosApp);
    </script>
</dom-module>