<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-cuenta-app">
    <template>
        <link rel='stylesheet prefetch' href='/styles/bootstrap.min.css' />
        <link rel='stylesheet prefetch' href='/styles/forms.css' />
        <style>
            :host {
                display: block
            }

            :host([hidden]),
            [hidden] {
                display: none!important;
            }

            .wrapper form.submission-attemped input:invalid {
                background-color: #f9b2b2;
                outline: none;
            }
        </style>
        <iron-ajax id="irajxAltaCuenta" method="POST" content-type="application/json" url$={{strURLIronAjax}} body='{"idcuenta": "{{cuenta}}"}'
            handle-as="json" on-response="mostrarResulAltaCuenta" on-error="ajaxErrorHandler">
        </iron-ajax>
        <div>
            <p>
                <input type="button" value="Regresar" on-click="regresarNavegacion" class="btn btn-md btn-primary">
            </p>
        </div>
        <div class="wrapper">
            <form class="form-signin" id="agregaCuentaForm">
                <h2 class="form-signin-heading">Alta de Cuenta</h2>
                <div>
                    <p id="MensajeUsuario"></p>
                </div>
                <input type="text" placeholder="Identificador de Cuenta" required="required" name="itIdCuenta" id="itIdCuenta" value={{cuenta::input}}>
                <br>
                <input type="button" value="Alta" on-click="exAltaCuenta" class="btn btn-md btn-primary btn-block">
            </form>
        </div>
    </template>
    <script>
        /**
         * `alta-cuenta-app` alta de una cuenta 
         *
         * @summary Alta de una cuenta.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class AltaCuentaApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'alta-cuenta-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    usuario: {
                        type: String
                    },
                    cuenta: {
                        type: String
                    },
                    strURLIronAjax: {
                        type: String,
                        computed: 'computeUrlIronAjax(usuario)'
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function () {

                });
            }
            computeUrlIronAjax(strUsuario) {
                return "http://api-apipractitionerrgm.193b.starter-ca-central-1.openshiftapps.com/v3/usuarios/" + strUsuario + "/cuentas/";
            }
            iniciaAltaCuenta(strUsuario) {
                this.usuario = strUsuario;
            }
            exAltaCuenta() {
                this.$.agregaCuentaForm.classList.add("submission-attemped");
                if (this.cuenta != undefined && this.cuenta != "") {
                    this.$.MensajeUsuario.innerHTML = "";
                    console.log("URL-Iron:" + this.strURLIronAjax);
                    console.log("Body:" + this.$.irajxAltaCuenta.body)
                    this.$.irajxAltaCuenta.generateRequest();
                    this.$.agregaCuentaForm.classList.remove("submission-attemped");
                }
                else {
                    this.$.MensajeUsuario.innerHTML = "Informe Campos Obligatorios"
                }
            }
            mostrarResulAltaCuenta(data) {
                if (data.detail.status == 200) {
                    this.cuenta = "";

                    this.$.MensajeUsuario.innerHTML = "Cuenta Dada de Alta.";
                } else {
                    this.$.MensajeUsuario.innerHTML = "Ocurrió un error al intentar dar de alta la cuenta.";
                }
            }
            ajaxErrorHandler(event) {
                var ironRequest = event.detail.request;
                var relatedXhr = ironRequest.xhr;
                var respError = relatedXhr.response;
                this.$.MensajeUsuario.innerHTML = respError.descerror;
                //console.log(event.detail.request.xhr.response);
            }

            regresarNavegacion(e) {
                console.log("EventoRegresar de:" + AltaCuentaApp.is);
                this.dispatchEvent(new CustomEvent('regresarNavegacion', {
                    detail: {
                        usuario: this.usuario,
                        from: AltaCuentaApp.is
                    }
                }));
            }
        }
        window.customElements.define(AltaCuentaApp.is, AltaCuentaApp);
    </script>
</dom-module>