<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cuentas-app">
    <template>
        <link rel='stylesheet prefetch' href='/styles/bootstrap.min.css' />
        <link rel='stylesheet prefetch' href='/styles/forms.css' />
        <link rel='stylesheet prefetch' href='/styles/tables.css' />
        <style>
            :host {
                display: block
            }

            :host([hidden]),
            [hidden] {
                display: none!important;
            }
        </style>
        <iron-ajax id="obtenerCuentas" handle-as="json" on-response="mostrarCuentas" url$={{strURLIronAjax}}></iron-ajax>
        <div>
            <p>
                <button class="btn btn-primary" on-click="altaCuenta">Alta de una cuenta</button>
            </p>
        </div>
        <div class="wrapper" hidden$="{{noTengoCuentas}}">
            <div class="info-display">
                <div class="limiter">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="table">
                                <div class="row header">
                                    <div class="cell">Usuario</div>
                                    <div class="cell">Cuenta</div>
                                    <div class="cell">Saldo</div>
                                    <div class="cell">Movimientos</div>
                                </div>
                                <template is="dom-repeat" items="{{cuentas}}" as="cuenta">
                                    <div class="row">
                                        <div class="cell" data-title="Usuario">{{cuenta.usuario}}</div>
                                        <div class="cell" data-title="Cuenta">{{cuenta.idcuenta}}</div>
                                        <div class="cell" data-title="Saldo">{{cuenta.saldo}}</div>
                                        <div class="cell" data-title="Movimientos">
                                            <button class="btn btn-link btn-xs" on-click="mostrarMovimientos">Ver Movimientos</button>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        class CuentasApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'cuentas-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    usuario: {
                        type: String
                    },
                    noTengoCuentas: {
                        type: Boolean,
                        value: true
                    },
                    cuentas: {
                        type: Array
                    },
                    strURLIronAjax: {
                        type: String,
                        computed: 'computeUrlIronAjax(usuario)'
                    }
                };
            }

            computeUrlIronAjax(strUsuario) {
                return "http://api-apipractitionerrgm.193b.starter-ca-central-1.openshiftapps.com/v3/usuarios/" + strUsuario + "/cuentas/";
            }

            mostrarCuentas(data) {
                console.log(data.detail.response);
                this.cuentas = data.detail.response;
                this.noTengoCuentas = false;
            }

            invocarPeticion(strUsuario) {
                console.log("Obteniendo Cuentas de:" + strUsuario)
                this.usuario = strUsuario;
                this.$.obtenerCuentas.url = this.strURLIronAjax;
                //this.$.obtenerCuentas.url
                this.$.obtenerCuentas.generateRequest();
            }
            mostrarMovimientos(e) {
                console.log("MostrarModel" + JSON.stringify(e.model.cuenta));
                this.dispatchEvent(new CustomEvent('mostrarMovimientos', {
                    detail: {
                        usuario: e.model.cuenta.usuario,
                        cuenta: e.model.cuenta.idcuenta
                    }
                }));
            }
            altaCuenta(e) {
                this.dispatchEvent(new CustomEvent('altaCuenta', {
                    detail: {
                        usuario: this.usuario
                    }
                }));
            }
        }
        window.customElements.define(CuentasApp.is, CuentasApp);        
    </script>
</dom-module>