<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="frontpolymx-app">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{prop1::input}}" name="" id="">
    <input type="text" value="[[prop1]]" name="" id="">
    <h2>Hello [[prop1]]!</h2>
  </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class FrontpolymxApp extends Polymer.Element {
            static get is() {
                return 'frontpolymx-app';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'frontpolymx-app'
                    }
                };
            }
        }

        window.customElements.define(FrontpolymxApp.is, FrontpolymxApp);
    </script>
</dom-module>