<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/loginmx-app/loginmx-app.html">
<link rel="import" href="/src/cuentas-app/cuentas-app.html">
<link rel="import" href="/src/cuentas-app/alta-cuentas-app.html">
<link rel="import" href="/src/movimientos-app/movimientos-app.html">
<link rel="import" href="/src/movimientos-app/alta-movimiento-app.html">
<link rel="import" href="/src/usuarios-app/alta-usuario-app.html">
<dom-module id="orquestador-app">
    <template>
        <link rel='stylesheet prefetch' href='/styles/bootstrap.min.css' />
        <style>
            :host {
                display: block;
            }

            :host([hidden]),
            [hidden] {
                display: none!important;
            }

            #divCerrarSesion button {
                float: right;
                margin: 15px 15px 15px 15px;
            }
        </style>
        <div id="divCerrarSesion">
            <button on-click="cerrarSesion" class="btn btn-link btn-sm" hidden$="[[hideCerrarSesion]]">Cerrar Sesion</button>
        </div>
        <loginmx-app id="loginMX" etuser="Usuario" etpassword="Contraseña" etlogin="Ingresar" urlTarget="" hidden$="[[hideLogin]]"></loginmx-app>
        <alta-usuario-app id="altaUsuario" hidden$="[[hideAltaUsuario]]"></alta-usuario-app>
        <cuentas-app id="cuentasUsuario" hidden$="[[hideCuentas]]"></cuentas-app>
        <alta-cuenta-app id="altaCuenta" hidden$="[[hideAltaCuentas]]"></alta-cuenta-app>
        <movimientos-app id="movimientos" hidden$="[[hideMovimientos]]"></movimientos-app>
        <alta-movimiento-app id="altaMovimiento" hidden$="[[hideAltaMov]]"></alta-movimiento-app>
    </template>

    <script>

        class OrquestadorApp extends Polymer.Element {
            static get is() {
                return 'orquestador-app';
            }
            static get properties() {
                return {
                    userLogin: {
                        type: Boolean,
                        value: false
                    },
                    hideLogin: {
                        type: Boolean,
                        value: false
                    },
                    hideCuentas: {
                        type: Boolean,
                        value: true
                    },
                    hideAltaCuentas: {
                        type: Boolean,
                        value: true
                    },
                    hideMovimientos: {
                        type: Boolean,
                        value: true
                    },
                    hideAltaMov: {
                        type: Boolean,
                        value: true
                    },
                    hideAltaUsuario: {
                        type: Boolean,
                        value: true
                    },
                    hideCerrarSesion: {
                        type: Boolean,
                        value: true
                    }

                };
            }
            ready() {
                super.ready();
                this.$.loginMX.addEventListener('loginSuccessful', e => {
                    this.persistirSesion(e);
                    this.pintarCuentas(e);
                });
                this.$.loginMX.addEventListener('altaUsuario', e => {
                    this.pintarAltaUsuario(e);
                });
                this.$.loginMX.addEventListener('redirectLogin', e => {
                    this.redirectLogin(e);
                });
                this.$.cuentasUsuario.addEventListener('mostrarMovimientos', e => {
                    this.pintarMovimientos(e)
                });
                this.$.cuentasUsuario.addEventListener('altaCuenta', e => {
                    this.pintarAltaCuenta(e)
                });
                this.$.movimientos.addEventListener('altaMovimientos', e => {
                    this.pintarAltaMovimiento(e);
                });
                this.$.movimientos.addEventListener('regresarNavegacion', e => {
                    this.pintarCuentas(e);
                });
                this.$.altaMovimiento.addEventListener('regresarNavegacion', e => {
                    this.pintarMovimientos(e);
                });
                this.$.altaCuenta.addEventListener('regresarNavegacion', e => {
                    this.pintarCuentas(e);
                });
                this.$.altaUsuario.addEventListener('regresarNavegacion', e => {
                    this.pintarLogin(e);
                });
                this.$.altaUsuario.addEventListener('joinSuccessful', e => {
                    this.persistirSesion(e);
                    this.pintarCuentas(e);
                });
                this.comprobarLogin();

            }
            comprobarLogin() {
                console.log("comprobando Login: " + sessionStorage.getItem("usuario"));
                var strusuarioLog = sessionStorage.getItem("usuario");
                if (strusuarioLog != null && strusuarioLog != undefined && strusuarioLog != "") {
                    this.userLogin = true;
                    this.hideLogin = true;
                    this.hideCerrarSesion = false;
                    this.hideCuentas = false;
                    this.hideAltaCuentas = true;
                    this.hideMovimientos = true;
                    this.hideAltaMov = true;
                    this.hideAltaUsuario = true;
                    this.$.cuentasUsuario.invocarPeticion(sessionStorage.getItem("usuario"));
                }

            }
            persistirSesion(e) {
                this.userLogin = true;
                sessionStorage.setItem("usuario", e.detail.usuario);
                sessionStorage.setItem("Session", e.detail.session);
                sessionStorage.setItem("userLogin", this.userLogin);
            }
            cerrarSesion() {
                console.log("Inicia cierre de  sesion");
                var strusuarioLog = sessionStorage.getItem("usuario");
                this.userLogin = false;
                sessionStorage.clear();
                console.log("Cerrando cesion(" + strusuarioLog + ")");
                if (strusuarioLog != undefined && strusuarioLog != "") {
                    this.$.loginMX.cerrarSesion(strusuarioLog);
                }
            }
            redirectLogin(e) {
                window.top.location = "/components/frontpolymx/";
            }
            pintarLogin(e) {
                this.hideLogin = false;
                this.hideCerrarSesion = true;
                this.hideCuentas = true;
                this.hideAltaCuentas = true;
                this.hideMovimientos = true;
                this.hideAltaMov = true;
                this.hideAltaUsuario = true;
            }
            pintarAltaUsuario(e) {
                this.hideLogin = true;
                this.hideCerrarSesion = true;
                this.hideCuentas = true;
                this.hideAltaCuentas = true;
                this.hideMovimientos = true;
                this.hideAltaMov = true;
                this.hideAltaUsuario = false;
            }
            pintarCuentas(e) {
                this.hideLogin = true;
                this.hideCerrarSesion = false;
                this.hideCuentas = false;
                this.hideAltaCuentas = true;
                this.hideMovimientos = true;
                this.hideAltaMov = true;
                this.hideAltaUsuario = true;
                this.$.cuentasUsuario.invocarPeticion(e.detail.usuario);
            }
            pintarMovimientos(e) {
                this.hideLogin = true;
                this.hideCerrarSesion = false;
                this.hideCuentas = true;
                this.hideAltaCuentas = true;
                this.hideMovimientos = false;
                this.hideAltaMov = true;
                this.hideAltaUsuario = true;
                this.$.movimientos.invocarPeticion(e.detail.usuario, e.detail.cuenta);
            }
            pintarAltaCuenta(e) {
                this.hideLogin = true;
                this.hideCerrarSesion = false;
                this.hideCuentas = true;
                this.hideAltaCuentas = false;
                this.hideMovimientos = true;
                this.hideAltaMov = true;
                this.hideAltaUsuario = true;
                this.$.altaCuenta.iniciaAltaCuenta(e.detail.usuario);
            }
            pintarAltaMovimiento(e) {
                this.hideLogin = true;
                this.hideCerrarSesion = false;
                this.hideCuentas = true;
                this.hideAltaCuentas = true;
                this.hideMovimientos = true;
                this.hideAltaMov = false;
                this.hideAltaUsuario = true;
                this.$.altaMovimiento.iniciaAltaMovimiento(e.detail.usuario, e.detail.cuenta)
            }
        }
        window.customElements.define(OrquestadorApp.is, OrquestadorApp);
    </script>
</dom-module>