<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="emisor-app">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <button on-click="gestionarClick">Click On</button>

    </template>

    <script>
        class EmisorApp extends Polymer.Element {

            static get is() {
                return 'emisor-app';
            }


            static get properties() {
                return {

                };
            }

            gestionarClick(e) {
                console.log("ONCLICK : He dado click el boton");
                this.dispatchEvent(new CustomEvent('emitido', {
                    detail: {
                        origen: "TechU",
                        anho: 2018
                    }
                }));
            }
        }

        window.customElements.define(EmisorApp.is, EmisorApp);
    </script>
</dom-module>