<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <h1>404</h1>
        <p>Pagina no encontrada</p>
    </template>

    <script>
        /**
         * `page-not-found` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PageNotFound extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'page-not-found';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {

                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {

                });
            }
            */
        }

        window.customElements.define(PageNotFound.is, PageNotFound);
    </script>
</dom-module>