<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="detalle-movimiento-app">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <iron-ajax auto="true" id="obtenerMovimientos" handle-as="json" on-response="mostrarMovimiento">
        </iron-ajax>
        <!--url="http://api-apipractitionerrgm.1d35.starter-us-east-1.openshiftapps.com/v3/usuarios/USR919855/cuentas/CTA626714/movimientos" -->
        <h1>Detalle movimiento [[id]]</h1>
        <div>
            <label for="">Id Movimiento:</label>
            <span>{{movimiento.id}}</span>
        </div>
        <div>
            <label for="">Fecha</label>
            <span>{{movimiento.fecha}}</span>
        </div>
        <div>
            <label for=""></label>
            <span>{{movimiento.importe}}</span>
        </div>
        <div>
            <label for=""></label>
            <span>{{movimiento.latitud}}</span>
        </div>
        <div>
            <label for=""></label>
            <span>{{movimiento.longitud}}</span>
        </div>
    </template>


    <script>
        /**
         * `detalle-movimiento-app` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class DetalleMovimientoApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'detalle-movimiento-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {

                    movimiento: {
                        type: Object
                    },
                    noTengoMovimiento: {
                        type: Boolean,
                        value: true
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function () {
                    //this.$.obtenerMovimientos.generateRequest();
                });
            }

            mostrarMovimiento(data) {
                console.log(data.detail.response);
                this.movimiento = data.detail.response;
                this.noTengoMovimiento = false;
            }

        }

        window.customElements.define(DetalleMovimientoApp.is, DetalleMovimientoApp);
    </script>
</dom-module>