<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-card-app">
    <template>
        <style>
            :host {
                display: block
            }
            
        </style>

        <iron-ajax
        id="obtenerMovimientos" 
        url="http://localhost:3000/v2/movimientos/"
        handle-as="json"
        on-response="mostrarMovimientos">
        </iron-ajax>
        
        <button class="btn btn-outline-success" on-click="invocarPeticion">Invocar</button>
        <div class="row" hidden$="{{noTengoMovimientos}}">
            <template is="dom-repeat" items="{{movimientos}}" as="mov">
                <div class="card col-lg-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{mov.id}} {{mov.ciudad}}</h5>
                        <p class="card-text">{{mov.latitud}}</p>
                        <p class="card-text">{{mov.longitud}}</p>
                        <p class="card-text">{{mov.fecha}}</p>
                        </div>
                </div>
            </template>
    </div>
    </template>

    <script>
        /**
         * `movimientos-card-app` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class MovimientosCardApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'movimientos-card-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    movimientos: {
                        type: Array
                    },
                    noTengoMovimientos: {
                        type: Boolean,
                        value: true
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {

                });
            }*/
            invocarPeticion() {
                this.$.obtenerMovimientos.generateRequest();
            }


            mostrarMovimientos(data) {
                console.log(data.detail.response);
                this.movimientos = data.detail.response;
                this.noTengoMovimientos = false;
            }
        }

        window.customElements.define(MovimientosCardApp.is, MovimientosCardApp);
    </script>
</dom-module>