<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="loginmx-app">
    <template>
        <link rel='stylesheet prefetch' href='/styles/bootstrap.min.css' />
        <link rel='stylesheet prefetch' href='/styles/forms.css' />
        <style>
            :host {
                display: block;
            }

            :host([hidden]),
            [hidden] {
                display: none!important;
            }

            .wrapper form.submission-attemped input:invalid {
                background-color: #f9b2b2;
                outline: none;
            }
        </style>

        <iron-ajax id="loginUsuario" method="POST" content-type="application/json" url="http://api-apipractitionerrgm.193b.starter-ca-central-1.openshiftapps.com/v3/usuarios/login"
            body='{"usuario":"{{valuser}}","password":"{{valpassword}}"}' handle-as="json" on-response="mostrarResultadoLogin"
            on-error="ajaxErrorHandler">
        </iron-ajax>
        <iron-ajax id="logoutUsuario" method="POST" content-type="application/json" url="http://api-apipractitionerrgm.193b.starter-ca-central-1.openshiftapps.com/v3/usuarios/logout"
            body='{"usuario":"{{valuser}}"}' handle-as="json" on-response="mostrarResultadoLogout" on-error="ajaxErrorLogoutHandler">
        </iron-ajax>

        <div class="wrapper">
            <form class="form-signin" id="loginForm">
                <h2 class="form-signin-heading">Please login</h2>
                <div>
                    <p id="MensajeUsuario"></p>
                </div>
                <input type="text" class="form-control" name="username" placeholder="[[etuser]]" required="required" autofocus="" value={{valuser::input}}>
                <input type="password" class="form-control" name="password" placeholder="[[etpassword]]" value={{valpassword::input}} required="required">
                <input type="button" class="btn btn-lg btn-primary btn-block" value="[[etlogin]]" on-click="hacerLogin">
                <br>
                <div>
                    <p>
                        <label for="">No tiene Usuario:</label>
                        <a on-click="altaUsuario" style="cursor:pointer;">Unirse</a>
                    </p>
                </div>
            </form>
        </div>
    </template>

    <script>
        /**
         * @customElementf
         * @polymer
         */
        class LoginmxApp extends Polymer.Element {
            static get is() {
                return 'loginmx-app';
            }
            static get properties() {
                return {
                    etuser: {
                        type: String,
                        value: "User"
                    },
                    etpassword: {
                        type: String,
                        value: "Password"

                    },
                    etlogin: {
                        type: String,
                        value: "Login"
                    },
                    valuser: {
                        type: String
                    },
                    valpassword: {
                        type: String
                    },
                    productos: {
                        type: Array
                    },
                    urlLogin: {
                        type: String
                    },
                    noTengoCuentas: {
                        type: Boolean,
                        value: true
                    },
                    loginSuccess: {
                        type: Boolean,
                        value: false
                    }
                };
            }
            hacerLogin() {
                this.$.loginForm.classList.add("submission-attemped");
                if (this.valuser != undefined && this.valuser != "" &&
                    this.valpassword != undefined && this.valpassword != "") {
                    console.log(this.valuser)
                    console.log(this.valpassword)
                    this.$.loginForm.classList.remove("submission-attemped");
                    this.$.loginUsuario.generateRequest();
                }
                else {
                    this.$.MensajeUsuario.innerHTML = "Informe Campos Obligatorios"
                }
            }
            mostrarResultadoLogin(data) {
                if (data.detail.status == 200) {
                    this.$.loginSuccess = true;
                    this.dispatchEvent(new CustomEvent('loginSuccessful', {
                        detail: {
                            usuario: data.detail.response.usuario
                        }
                    }));
                }
            }
            altaUsuario() {
                this.dispatchEvent(new CustomEvent('altaUsuario', {
                    detail: {
                    }
                }));
            }
            ajaxErrorHandler(event) {
                console.log(event);
                var strMensajeFinal = "Ha ocurrido un error en la peticion verifique el estado de la red";
                console.log(event.detail.request.xhr.response)
                if (event.detail.request.xhr.response != null) {
                    var ironRequest = event.detail.request;
                    var relatedXhr = ironRequest.xhr;
                    var respError = relatedXhr.response;
                    strMensajeFinal = respError.descerror;
                }
                this.$.MensajeUsuario.innerHTML = strMensajeFinal;
            }
            ajaxErrorLogoutHandler(event) {
                console.log(event);
                var strMensajeFinal = "Ha ocurrido un error en la peticion verifique el estado de la red";
                this.dispatchEvent(new CustomEvent('redirectLogin', {
                    detail: {}
                }));
            }
            cerrarSesion(strusuarioLog) {
                console.log("LoginMX Cerrando sesion de: " + strusuarioLog)
                this.valuser = strusuarioLog;
                this.$.logoutUsuario.generateRequest();
            }
            mostrarResultadoLogout(data) {
                console.log("logout Exitoso: " + data.detail.status);
                this.dispatchEvent(new CustomEvent('redirectLogin', {
                    detail: {}
                }));
            }
        }
        window.customElements.define(LoginmxApp.is, LoginmxApp);
    </script>
</dom-module>