<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario-app">
    <template>
        <link rel='stylesheet prefetch' href='/styles/bootstrap.min.css' />
        <link rel='stylesheet prefetch' href='/styles/forms.css' />
        <style>
            :host {
                display: block;
            }

            :host([hidden]),
            [hidden] {
                display: none!important;
            }

            .wrapper form.submission-attemped input:invalid {
                background-color: #f9b2b2;
                outline: none;
            }
        </style>
        <iron-ajax id="irajxAltaUsuario" method="POST" content-type="application/json" url="http://api-apipractitionerrgm.193b.starter-ca-central-1.openshiftapps.com/v3/usuarios"
            body='{"idusuario": "{{idusuario}}","nombre": "{{nombre}}","apellido": "{{apellido}}","email": "{{email}}","password": "{{password}}","pais": "{{pais}}","statusUsuario":"active"}'
            handle-as="json" on-response="joinSuccessful" on-error="ajaxErrorHandler">
        </iron-ajax>
        <div class="wrapper">
            <form class="form-signin" id="altaUsuarioForm">
                <h2 class="form-signin-heading">Unirse</h2>
                <div>
                    <p id="MensajeUsuario"></p>
                </div>
                <input type="text" class="form-control" placeholder="Usuario" required="required" name="username" id="idusuario" value={{idusuario::input}}>
                <input type="text" class="form-control" placeholder="Nombre" required="required" name="nombre" id="nombre" value={{nombre::input}}>
                <input type="text" class="form-control" placeholder="Apellido" required="required" name="apellido" id="apellido" value={{apellido::input}}>
                <input type="text" class="form-control" placeholder="Email" required="required" name="email" id="email" value={{email::input}}>
                <input type="text" class="form-control" placeholder="Pais" name="pais" id="pais" value={{pais::input}}>
                <input type="password" class="form-control" placeholder="Password" required="required" name="password" id="password" value={{password::input}}>
                <input type="password" class="form-control" placeholder="Confirm password" required="required" name="confpassword" id="confpassword"
                    value={{confpassword::input}}>
                <input type="button" class="btn btn-lg btn-primary btn-block" value="Alta Usuario" on-click="altaUsuario">
                <input type="button" class="btn btn-lg btn-primary btn-block" value="Cancelar" on-click="regresarNavegacion">
            </form>
        </div>
    </template>

    <script>
        /**
         * `alta-usuario-app` Alta Usuario
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class AltaUsuarioApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'alta-usuario-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    idusuario: {
                        type: String
                    },
                    nombre: {
                        type: String
                    },
                    apellido: {
                        type: String
                    },
                    email: {
                        type: String
                    },
                    password: {
                        type: String
                    },
                    confpassword: {
                        type: String
                    },
                    pais: {
                        type: String
                    }
                };
            }
            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }
            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
                Polymer.RenderStatus.afterNextRender(this, function () {
                });
            }
            altaUsuario() {
                this.$.altaUsuarioForm.classList.add("submission-attemped");
                if (this.idusuario != undefined && this.idusuario != "" &&
                    this.nombre != undefined && this.nombre != "" &&
                    this.apellido != undefined && this.apellido != "" &&
                    this.email != undefined && this.email != "" &&
                    this.password != undefined && this.password != "") {
                    if (this.password == this.confpassword) {
                        this.$.altaUsuarioForm.classList.remove("submission-attemped");
                        this.$.irajxAltaUsuario.generateRequest();
                    } else {
                        this.$.MensajeUsuario.innerHTML = "Password de verificacion no coincide"
                    }
                }
                else {
                    this.$.MensajeUsuario.innerHTML = "Informe Campos Obligatorios"
                }
            }
            joinSuccessful(data) {
                if (data.detail.status == 200) {
                    this.dispatchEvent(new CustomEvent('joinSuccessful', {
                        detail: {
                            usuario: data.detail.response.idusuario
                        }
                    }));
                }
            }
            ajaxErrorHandler(event) {
                var ironRequest = event.detail.request;
                var relatedXhr = ironRequest.xhr;
                var respError = relatedXhr.response;
                this.$.MensajeUsuario.innerHTML = respError.descerror;
                console.log(event.detail.request.xhr.response);
            }
            regresarNavegacion() {
                this.dispatchEvent(new CustomEvent('regresarNavegacion', {
                    detail: {
                    }
                }));
            }
        }
        window.customElements.define(AltaUsuarioApp.is, AltaUsuarioApp);
    </script>
</dom-module>