<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="receptor-app">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <h2>Soy Receptor</h2>
        <h3>{{anhoRecibido}}</h3>
        <h3>{{origenRecibido}}</h3>
    </template>

    <script>
        /**
         * `receptor-app` Receptor de eventos emitodos por el emisor componente polymer
         *
         * @summary receptor de eventos.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class ReceptorApp extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'receptor-app';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    anhoRecibido: {
                        type: Number
                    },
                    origenRecibido: {
                        type: String
                    }
                };
            }

            procesarDatos(data) {
                console.log("Soy tu hijo: " + JSON.stringify(data));
                this.origenRecibido = data.origen;
                this.anhoRecibido = data.anho;

            }
        }

        window.customElements.define(ReceptorApp.is, ReceptorApp);
    </script>
</dom-module>